[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/l9"]
	path = bundle/l9
	url = https://github.com/vim-scripts/L9.git
[submodule "bundle/fuzzyfinder"]
	path = bundle/fuzzyfinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/delimitmate"]
	path = bundle/delimitmate
	url = https://github.com/vim-scripts/delimitMate.vim.git
[submodule "bundle/mustache"]
	path = bundle/mustache
	url = https://github.com/juvenn/mustache.vim.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/transmit"]
	path = bundle/transmit
	url = https://github.com/tmallen/transmit-vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/les"]
	path = bundle/les
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/less"]
	path = bundle/less
	url = https://github.com/lunaru/vim-less.git
[submodule "bundle/jquery"]
	path = bundle/jquery
	url = https://github.com/itspriddle/vim-jquery.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/conque"]
	path = bundle/conque
	url = https://github.com/vim-scripts/Conque-Shell.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/autotag"]
	path = bundle/autotag
	url = https://github.com/marcus/autotag.vim.git
[submodule "bundle/project"]
	path = bundle/project
	url = https://github.com/shemerey/vim-project.git
[submodule "bundle/indexer"]
	path = bundle/indexer
	url = https://github.com/shemerey/vim-indexer
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/css_color"]
	path = bundle/css_color
	url = https://github.com/skammer/vim-css-color.git
[submodule "bundle/css3"]
	path = bundle/css3
	url = https://hail2u@github.com/hail2u/vim-css3-syntax.git
[submodule "bundle/coffeescript"]
	path = bundle/coffeescript
	url = https://github.com/kchmck/vim-coffee-script.git
